@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/**
*   font-family: 'Inter', sans-serif;
*   font-family: 'Lexend Deca', sans-serif;
*/

:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --accent-overlay: hsla(277, 64%, 61%, 50%);
  --paragraph-color: rgb(160, 160, 160);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100%;
  background-color: var(--main-background);
  color: white;

}

p {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.container {
  background-color: var(--card-background);
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  grid-template-areas: 
    'content header';
  width: 80vw;
  border-radius: 0.6rem;
  overflow: hidden;

}

.header {
  display: flex;
  background-image: url(images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  grid-area: header;
}


.overlay {
  background-color: var(--accent-overlay);
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  grid-area: content;
  padding: 12% 20% 12% 12%;
}

.accent {
  color: var(--accent);
}

.proof {
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  width: 90%;
  

}

.text-up {
  text-transform: uppercase;
}

.proof h2 {
  padding-bottom: 0.5rem;
}

.proof p {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05rem
}